[Unit]
Description=Global Socket Relay Network Server
After=network.target

[Service]
Type=simple
LimitNOFILE=infinity
#LimitCORE=infinity
Restart=always
RestartSec=10
#Environment="LD_LIBRARY_PATH=/sec/usr/lib"
#Environment="GS_LIMIT=100Mbit"
ExecStartPre=/bin/bash /usr/bin/gsrnd_start.sh
ExecStart=/usr/bin/gsrnd -p22 -p25 -p53 -p67 -p80 -p443 -p7350
StandardOutput=journal

[Install]
WantedBy=multi-user.target
